.slider-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slider {
    display: flex;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider-item {
    scroll-snap-align: start;
    flex-shrink: 0;
}